<nav class="nav">
    <h1>Spooooky Bilder</h1>
    <ul class = "nav_links">    
        <li><a href="#bilder">Fina bilder</a></li>
        <li><a href="#info">Rolig dinosaurier information</a></li>
    </ul>
</nav>