---
layout: base.njk
---

<main>
    <div class="text">
        <p>Min github user: {{ github.login }} och plats: {{ github.location }}.</p>
    </div>
    <div class="container" id="bilder">
        {% asyncAll  item in unsplash.results %}
            {% image item.urls.small, item.alt_description %}
        {% endall %}
    </div>
    <div class="container2" id="info">
        {% set length = info.length if info.length < 633 else 633 %} 
        {% for i in range(0, length) %}
        <p>{{ info[i].Name }}</p> 
        <p>{{ info[i].Description }}</p>
        {% endfor %}

    </div>
</main> 